<h2>お役立ちリンク</h2>
<h5>
  このページでは飼い犬のお世話に役立ちそうな外部サイトを紹介しております。
  <br>皆様のご意見をもとに、随時更新される予定です。</h5>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Wholly Vet様　犬と猫の栄養自動計算機</h5>
      <p class="card-text">獣医師が毎日の診療に使っている自動計算ツールをオンライン公開しているサイト様です、<br>体重を入力するだけで最も正確な摂取カロリーあたりの必要量を自動で算出できます。</p>
      <a href="https://www.whollyvet.com/info/nutrition-calculator/" class="card-link">Link</a>
    </div>
  </div>
  </div>