<div class="container">
  <div class='row'>
    <div id="img-box">
      <h1 class = "text-center">Dog is fineへようこそ！</h1>
      <%= image_tag asset_path('dog.jpg'), size: '900x600', class:"med-pic" %>
	    <h2 class = "text-center">このサイトは犬を飼っている方へ向けた、ブログサービスです
	    <p>上部リンクより操作ください</p></h2>
	  </div>
  </div>
</div>