<div class="row">


 <div class="col-md-8">
<i class="fas fa-address-card fa-3x"></i>
   <h2>マイページ</h2>

  <table class="table">
   <tbody>
    <tr>
      <th scope="row"><label>名前</label></th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th scope="row"><label>自己紹介</label></th>
      <td><%= @user.introduction %></td>
    </tr>
    <tr>
      <th scope="row"><label>メールアドレス</label></th>
      <td><%= @user.email %></td>
    </tr>
  </tbody>
 </table>

<% if @user.id == current_user.id %>
  <p><%= link_to "編集する", users_my_page_edit_path, class: "btn btn-outline-warning"%></p>
<% end %>